{
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "bracketSameLine": true,
  "tabWidth": 2,
  "semi": false,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-classnames",
    "prettier-plugin-merge"
  ],
  "singleAttributePerLine": true,
  "arrowParens": "avoid"
}
